body {
	background: rgb(196, 5, 132);
	font-family: 'Rubik Iso', cursive;
}
.main {
	width: 100%;
	display: flex;
	.text {
		width: 100%;
		display: flex;
		justify-content: center;
		color: yellow;
		font-size: 60px;
	}
	.licznik {
		display: flex;
		justify-content: end;
	}
}
.img {
	width: 100%;
	display: flex;
	justify-content: center;

	.lineLol {
		width: 500px;
	}
}
.paypal {
	width: 100%;
	display: flex;
	justify-content: center;

	.lineLol {
		width: 500px;
	}
}
